
doctype html
htmll(lang="ja")
  head
    meta(charset="UTF-8")
    title Shun Nozaki - Portfolio
    meta(name="Description" content="Shun Nozaki is a designer, or  something.")
    meta(name="author" content="Shun Nozaki")
    meta(name="copyright" content="Copyright 2016 Shun Nozaki")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scale=no")

    title This is a Zack Portfolio

    link(href="css/main.css" rel="stylesheet")
    link(href="css/reset/reset.css" rel="stylesheet")
  body
    div.wrapper
      section.P-header
        header
          ul
            li.g-nav: a(href="#") Design
            li.g-nav: a(href="#") Life
            li.g-nav: a(href="#") About

      section.P-introduction
        p.name Hi, I’m
          span.p-yellow  Shun
        p.job I'm user interface and interaction
          span.p-yellow  designer
          in Japan :)
        p.mission My passion is creating detailed,beautiful and unique interaction for interface I’m ready for new cool projects and I’ll be glad to listen to your ideas or just to have conversations ! - :)
        a.touch(href="mailto:krpa5dsk2@gmail.com") Get in touch

      section.P-follow
        p.follow-me Follow Me
        ul
          li: a.touch(href="#") Dribbble
          li: a.touch(href="#") Facebook
          li: a.touch(href="#") Instagram
      section.P-footer
